
<div *ngFor="let item of data">
<div class="card" style="width: 100%; float:left;">
  <img style="height: 10rem;float:left;" src="{{item.images.main}}" alt="Avatar" >
  <div style="float:left;" class="container">
     <table>
    <tr>
      <td><h3 style="color:#151B54"><b>{{item.name.first}}&nbsp;{{item.name.middle}}&nbsp;{{item.name.last}}</b></h3>
      &emsp;<b>Age: </b>{{item.age}}
      &nbsp;&nbsp;&nbsp;&nbsp;<b>Gender: </b>{{item.gender}}</td>
    </tr>
    <tr> 
      <b>Home Planet: </b>{{item.homePlanet}}
      &nbsp;&nbsp;&nbsp;&nbsp;<b>Occupation: </b>{{item.occupation}}
      &nbsp;&nbsp;&nbsp;&nbsp;<b>Species: </b>{{item.species}}
    </tr>
    <tr> 
      <i>"{{item.sayings[0]}}"</i>
    </tr>
  </table>
  </div>
</div>
<br>
</div>


